body {
    scroll-behavior: smooth;
    font-family: Roboto;
}
nav {
    background-color: #F9F9F7;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 170px;
    height: 70px;
}

#logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}
#logo img {
    height: 40px;
    width: 40px;
}
#logo p {
font-size: 35px;
}
nav ul {
    display: flex;

}
nav ul li {
    font-size: 15px;
    list-style: none;
    height: 32px;
    width: 77px;
    border-radius: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li:hover {
    background-color: #DBDFD0;
}
nav ul li a {
    text-decoration: none;
    color: #2C2F24;

}
.nav_btn {
    width: 130px;
    height: 40px;
    background-color: transparent;
    border-radius: 118px;
    cursor: pointer;
    transition: ease 0.5s;
}
.nav_btn:hover {
    background-color: #AD343E;
    border: 1px solid black;
    color: white;
    font-weight: 500;
    box-shadow: -2px 5px 30px #AD343E;
}

/* front section */
.front_sec {
    background-image: url('picture/home-section-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.front_sec .h1 {
    width: 600px;
    font-size: 90px;
    text-align: center;
}
.front_sec .p {
    margin-top: 30px;
    width: 460px;
    text-align: center;
}

/* 2 section */
.section_2 {
    margin-top: 70px;
    width: 100%;
    text-align: center;
}
.section_2 .head {
    font-size: 40px;
    text-align: center;
}
.sec2_crd_mn_div {
    padding: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.card {
    width: 270px;
    height: 340px;
    border: 1px solid #DBDFD0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    transition: ease 0.5s;
}
.card:hover {
    transform: scale(1.05);
}
.card .card_para {
    width: 238px;
    text-align: center;
}
.card .card_btn {
    background-color: transparent;
    border: none;
    color: #AD343E;
    font-weight: 900;
    cursor: pointer;
    transition: ease 0.3s;
}
.card .card_btn:hover {
    transform: scale(1.05);
}

/* 3 section */
.section_3 {
    margin-top: 20px;
    padding-top: 80px;
    padding-bottom: 70px;
    background-color: #F9F9F7;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 135px;
}
.sec3_mn_cont {
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
}
.section_3 img {
    width: 470px;
    height: 470px;
}
.section_3 .head {
    font-size: 50px;
}
.section_3 .para_1 {
    margin-top: 20px;
}
.section_3 .para_2 {
    margin-top: 20px;
}
.section_3 .btn {
    height: 45px;
    width: 160px;
    margin-top: 20px;
    border-radius: 118px;
    transition: ease 0.3s;
}
.section_3 .btn:hover {
    background-color: #AD343E;
    border: 1px solid black;
    color: white;
    font-weight: 500;
    box-shadow: -2px 5px 30px #AD343E;
}

/* new section add */

.section_new {
    
}
.newSec_mn_head {
    margin-top: 70px;
    padding-left: 100px;
    font-size: 40px;
}
.newSec_mn_box {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.newSec_box {
    width: 260px;
    border-radius: 10px;
    transition: ease 0.5s;
}
.newSec_box:hover {
    transform: scale(1.05);
}

.newSec_box img {
    width: 260px;
}
.newSec_box_con {
    padding: 0px 20px 10px 0px;

}

/* 4 section */

.section_4 {
    background-color: #F9F9F7;
    margin-top: 70px;
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
}
.mn_img_div img {
    height: 500px;
    width: 400px;
}
.mn_img_div .chld {
    display: flex;
    flex-direction: column;
}
.mn_img_div .chld .img1 {
    width: 230px;
    height: 280px;
}
.mn_img_div .chld .img2 {
    width: 230px;
    height: 200px;
    margin-top: 20px;
}
.mn_img_div {
    width: 431px;
    height: 600px;
    display: flex;
    gap: 20px;
}
.chld {
    padding-top: 40px;
}
.chld2 .flex {
    display: flex;
    align-items: center;
    gap: 20px;
}
.chld2 .flex img {
    width: 30px;
    height: 30px;
}
.sec4_mn_con {
    padding-top: 120px;
    width: 420px;
    height: 469px;
}

/* 5 section */
.sec5_mn_head {
    font-size: 40px;
    margin-top: 70px;
    text-align: center;
}
.sec5_box_flex {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.sec5_h1 {
    color: #AD343E;
}
.sec5_p {
    width: 290px;
    line-height: 25px;
}
.sec5_box {
    background-color: #F9F9F7;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    height: 300px;
    transition: ease 0.5s;
}
.sec5_box:hover {
    transform: scale(1.05);
}
.sec5_hr {
    margin-top: 30px;
}
.box_chld_flx{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.box_chld_flx img {
    height: 50px;
    width: 50px;
}
.box_chld_chld_flx {
    line-height: 0px;
}


/* section 6 */

.section_6 {
    margin-top: 70px;
    background-color: #F9F9F7;
    padding: 0px 0px 70px 120px;
   
}

.sec6_mn_head {
    padding-top: 70px;
    font-size: 40px;
}
.sec6_headSec {
    display: flex;
    align-items: center;
    
}
.sec6_headSec button {
    background-color: #AD343E;
    color: white;
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 50px;
    margin-top: 75px;
    margin-left: 620px;
    transition: ease 0.3s;
}
.sec6_headSec button:hover {
    background-color: #AD343E;
    color: white;
    font-weight: 500;
    box-shadow: -2px 5px 30px #AD343E;
}
.big_box {
    width: 500px;
    background-color: white;
    border-radius: 12px;
}

.sec6_date {
    color: #68724b;
}
.big_box img {
    width: 500px;
}
.big_box_con {
    padding: 20px;
}

.short_box {
    background-color: white;
    width: 250px;
    height: 283px;
    border-radius: 10px;
    transition: 0.5s;
}
.short_box:hover {
    transform: scale(1.05);
}
.short_box img {
    width: 250px;
}
.short_box_con {
    padding: 10px 20px 10px 20px;
}
.main_short_box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.sec6_all_mn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

/* footer */

footer {
    height: 600px;
    background-color: #474747;
    color: white;
}
.main_footer {
    padding: 100px 100px 100px 130px;
    display: flex;
    justify-content: center;
    gap: 110px;
}

.logo_sec p {
    font-size: 28px;
}
.logo_sec img {
    width: 50px;
    height: 50px;
}
.logo_sec {
    display: flex;
    align-items: center;
    gap: 15px;
}
.con p {
    width: 250px;
    color: #ADB29E;
    
}
.div1_logos img {
    margin-top: 10px;
    transition: ease 0.2s;
    cursor: pointer;
}
.div1_logos img:hover {
    transform: scale(1.1);
}

.link {
    line-height: 30px;
    color: #DBDFD0;
}
.link a {
    color: #DBDFD0;
    text-decoration: none;
}
.link a:hover {
    color: white;
    cursor: pointer;
    
}
.div3 {
    width: 250px;
}
.div4 img {
    width: 150px;
}
.ft_lst_con {
    text-align: center;
}
